flows.json
[
    {
        "id": "f5c46a261c9de788",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e712e033c794c2dc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2073c06841229f9",
        "type": "mqtt-broker",
        "name": "raspi",
        "broker": "192.168.10.144",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "43ae38ea11cfb509",
        "type": "ui_group",
        "name": "Precios por litro",
        "tab": "6816b8d54a7c4293",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6816b8d54a7c4293",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e6f6c6feaae8d4c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#586e75",
                "baseFont": "Georgia,Georgia,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#729fcf",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#729fcf",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#729fcf",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#abc6e2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#729fcf",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ddcf34f1ffaecb6a",
        "type": "ui_group",
        "name": "Precio por gasolinera",
        "tab": "6816b8d54a7c4293",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a73c57745ba14481",
        "type": "ui_tab",
        "name": "Chelli",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f90f6aad6aabc515",
        "type": "ui_group",
        "name": "Default",
        "tab": "a73c57745ba14481",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "67a530d9402861a6",
        "type": "ui_group",
        "name": "Precio de gasolina por estación",
        "tab": "6816b8d54a7c4293",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f236670b8041eac8",
        "type": "ui_group",
        "name": "Actualizar precios",
        "tab": "6816b8d54a7c4293",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d8c7f3a31e230d89",
        "type": "ui_group",
        "name": "World map",
        "tab": "a73c57745ba14481",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2041661bdd1c5f6b",
        "type": "mqtt in",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/relay/0",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2073c06841229f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "e123104e62d5a0a9"
            ]
        ]
    },
    {
        "id": "cefd199973d4b749",
        "type": "mqtt out",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/relay/0/command",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2073c06841229f9",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "e123104e62d5a0a9",
        "type": "debug",
        "z": "f5c46a261c9de788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "0869a1e92ba9379f",
        "type": "inject",
        "z": "f5c46a261c9de788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "cefd199973d4b749"
            ]
        ]
    },
    {
        "id": "f033d3cfa3ccfe02",
        "type": "mqtt in",
        "z": "f5c46a261c9de788",
        "d": true,
        "name": "",
        "topic": "prueba",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2073c06841229f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "41e7ffcefcdbedc9"
            ]
        ]
    },
    {
        "id": "41e7ffcefcdbedc9",
        "type": "debug",
        "z": "f5c46a261c9de788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "e6897bfa49f996e8",
        "type": "mqtt out",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/relay/0/command",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2073c06841229f9",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b3272fa8b12705d",
        "type": "inject",
        "z": "f5c46a261c9de788",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "e6897bfa49f996e8"
            ]
        ]
    },
    {
        "id": "12f9de8de438f8c0",
        "type": "mqtt in",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "/clase/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2073c06841229f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "75333b065ca7380f"
            ]
        ]
    },
    {
        "id": "75333b065ca7380f",
        "type": "debug",
        "z": "f5c46a261c9de788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "fab864a7988567cb",
        "type": "mqtt in",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/emeter/0/power",
        "qos": "2",
        "datatype": "auto",
        "broker": "d2073c06841229f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "f7fca57e2191c682",
                "92e26f17a7274699",
                "942e3070026efa69"
            ]
        ]
    },
    {
        "id": "f7fca57e2191c682",
        "type": "ui_gauge",
        "z": "f5c46a261c9de788",
        "name": "",
        "group": "f90f6aad6aabc515",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Potencia Real",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1240,
        "y": 680,
        "wires": []
    },
    {
        "id": "92e26f17a7274699",
        "type": "function",
        "z": "f5c46a261c9de788",
        "name": "Umbral energía",
        "func": "if(msg.payload > max_consumo)\n    msg.payload = \"on\";\nelse\n    msg.payload = \"off\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nmax_consumo = 10; // 10 W",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 740,
        "wires": [
            [
                "ae2bb9c40ecae887"
            ]
        ]
    },
    {
        "id": "ae2bb9c40ecae887",
        "type": "mqtt out",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/relay/0/command",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2073c06841229f9",
        "x": 1150,
        "y": 740,
        "wires": []
    },
    {
        "id": "942e3070026efa69",
        "type": "power-monitor",
        "z": "f5c46a261c9de788",
        "name": "Shelly",
        "startthreshold": 0,
        "stopthreshold": "2",
        "startafter": 1,
        "stopafter": "2",
        "x": 610,
        "y": 840,
        "wires": [
            [
                "91f251bf39cc3ae8"
            ]
        ]
    },
    {
        "id": "810e801a12ff1584",
        "type": "ui_chart",
        "z": "f5c46a261c9de788",
        "name": "",
        "group": "f90f6aad6aabc515",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Consumo",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "91f251bf39cc3ae8",
        "type": "function",
        "z": "f5c46a261c9de788",
        "name": "Gráfico acumulado ",
        "func": "aux = msg.payload;\n\n\nseries.push(aux[\"time\"]);\ndata.push(aux[\"energy\"])\n\n/*\na = aux[\"energy\"]\nvar b = \"\";\n\nfor(let i = 0; i < a.length; i++){\n    if(a==','){\n        b=b.concat('.');\n    }else{\n        b=b.concat(a);\n    }\n}\n\ndata.push([parseFloat(b)]);\n*/\n//console.log(series)\n\nmsg.payload = [{\n\"series\": series,\n\"data\": data,\n\"labels\": [\"\"]\n}]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\nseries = [];\ndata = [];",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 840,
        "wires": [
            [
                "810e801a12ff1584"
            ]
        ]
    },
    {
        "id": "c0f4d56faac1a741",
        "type": "comment",
        "z": "f5c46a261c9de788",
        "name": "Eqk_article",
        "info": "https://developer.ibm.com/tutorials/simple-earthquake-monitoring-system-using-nodered/",
        "x": 240,
        "y": 800,
        "wires": []
    },
    {
        "id": "be23300d3fd3b8f3",
        "type": "http request",
        "z": "f5c46a261c9de788",
        "name": "Eq",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "e3d039827cbaf3f0"
            ]
        ]
    },
    {
        "id": "06cb06bc6e42f908",
        "type": "inject",
        "z": "f5c46a261c9de788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "be23300d3fd3b8f3"
            ]
        ]
    },
    {
        "id": "e3d039827cbaf3f0",
        "type": "change",
        "z": "f5c46a261c9de788",
        "name": "Info eq",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "followRedirects",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "c4cbf4f15a2a226e"
            ]
        ]
    },
    {
        "id": "c4cbf4f15a2a226e",
        "type": "function",
        "z": "f5c46a261c9de788",
        "name": "Parse",
        "func": "len = msg.payload.features.length\n\nb = [];\n\nfor(let i = 0; i < len; i++){\n    a = msg.payload.features[i].geometry.coordinates;\n    a.pop();\n    a.push(msg.payload.features[i].properties.mag);\n    a = { \"name\":a[2], \"lat\":a[1], \"lon\":a[0] };\n    b.push(a);\n}\n\n\nmsg.payload = b;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "235648b2d6736ad7",
                "4f656cf6cf9ec2b2"
            ]
        ]
    },
    {
        "id": "235648b2d6736ad7",
        "type": "ui_worldmap",
        "z": "f5c46a261c9de788",
        "group": "d8c7f3a31e230d89",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "38",
        "lon": "-100",
        "zoom": "4",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 900,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4f656cf6cf9ec2b2",
        "type": "function",
        "z": "f5c46a261c9de788",
        "name": "Cortar luz riesgo terremoto",
        "func": "len = msg.payload.length\n\n\nfor(let i=0; i<len; i++){\n    \n    // Latitude and longitude\n    la2 = msg.payload[i].lat;\n    lon2 = msg.payload[i].lon;\n    \n    // Angles to radians\n    phi1 = la1 * Math.PI/180, phi2 = la2 * Math.PI/180, lambda = (lon2-lon1) * Math.PI/180;\n    // Main formula\n    d = Math.acos( Math.sin(phi1)*Math.sin(phi2) + Math.cos(phi1)*Math.cos(phi2) * Math.cos(lambda) ) * R;\n    if(d < 100){\n        shelly = \"off\";\n    }else{\n        shelly = \"on\"\n    }\n}\nmsg.payload = shelly;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nla1 = 62;\nlon1 = -150;\nR = 6371;\n",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1000,
        "wires": [
            [
                "2cad5cc818f8c34a",
                "3349962431e709c7"
            ]
        ]
    },
    {
        "id": "3349962431e709c7",
        "type": "debug",
        "z": "f5c46a261c9de788",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2cad5cc818f8c34a",
        "type": "mqtt out",
        "z": "f5c46a261c9de788",
        "name": "",
        "topic": "shellies/shellyem1/relay/0/command",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2073c06841229f9",
        "x": 1250,
        "y": 1000,
        "wires": []
    },
    {
        "id": "efbbc849453a7b1a",
        "type": "http request",
        "z": "e712e033c794c2dc",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/FiltroMunicipio/{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "7404b29bfe3bd810",
                "166e25fb41194f54",
                "2548b97925b34bb9",
                "4235a58ca1c56c05",
                "c224b01fb0419086",
                "d611ff2c406d8435",
                "fdfdd4a07837a41b",
                "80fa656effdb73ad",
                "954870b6b1c42424"
            ]
        ]
    },
    {
        "id": "7404b29bfe3bd810",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "//a = msg.payload.included[0].attributes.values[0].value;\n\naux = msg.payload.ListaEESSPrecio;\nprices = [];\n\nfor(var j in aux){\n    \n    a = aux[j][\"Precio Gasoleo A\"];\n    \n    //Replace string with comma with float\n    var b = \"\";\n    \n    if(a != \"\"){\n        for(let i = 0; i < a.length; i++){\n            if(a[i]==','){\n                b=b.concat('.');\n            }else{\n                b=b.concat(a[i]);\n            }\n        }\n        \n        prices.push(parseFloat(b));\n    }\n}\n \n msg.payload = Math.min.apply(null,prices);\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "58a65c625487d0ed"
            ]
        ]
    },
    {
        "id": "58a65c625487d0ed",
        "type": "ui_gauge",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "43ae38ea11cfb509",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Mejor precio Gasóleo A",
        "label": "€/L",
        "format": "{{value}}",
        "min": "0",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "293b9ed7aa8e193c",
        "type": "ui_gauge",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "43ae38ea11cfb509",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Mejor precio Gasoleo Premium",
        "label": "€/L",
        "format": "{{value}}",
        "min": "0",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1210,
        "y": 480,
        "wires": []
    },
    {
        "id": "166e25fb41194f54",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "aux = msg.payload.ListaEESSPrecio;\n\nseries = [];\ndata = [];\n\nfor(var i in aux){\n    series.push(aux[i][\"Rótulo\"]);\n    a = aux[i][\"Precio Gasoleo A\"]\n    var b = \"\";\n    for(let i = 0; i < a.length; i++){\n        if(a[i]==','){\n            b=b.concat('.');\n        }else{\n            b=b.concat(a[i]);\n        }\n    }\n    data.push([parseFloat(b)]);\n}\n\n//console.log(series)\n\nmsg.payload = [{\n\"series\": series,\n\"data\": data,\n\"labels\": [\"\"]\n}]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 320,
        "wires": [
            [
                "edae9e940d5ea7ac"
            ]
        ]
    },
    {
        "id": "edae9e940d5ea7ac",
        "type": "ui_chart",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "ddcf34f1ffaecb6a",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Gasóleo A",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2548b97925b34bb9",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "aux = msg.payload.ListaEESSPrecio;\n\nseries = [];\ndata = [];\n\nfor(var i in aux){\n    series.push(aux[i][\"Rótulo\"]);\n    a = aux[i][\"Precio Gasoleo Premium\"]\n    var b = \"\";\n    for(let i = 0; i < a.length; i++){\n        if(a[i]==','){\n            b=b.concat('.');\n        }else{\n            b=b.concat(a[i]);\n        }\n    }\n    data.push([parseFloat(b)]);\n}\n\n//console.log(series)\n\nmsg.payload = [{\n\"series\": series,\n\"data\": data,\n\"labels\": [\"\"]\n}]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 280,
        "wires": [
            [
                "87e2a7e44181aa15"
            ]
        ]
    },
    {
        "id": "87e2a7e44181aa15",
        "type": "ui_chart",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "ddcf34f1ffaecb6a",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Gasóleo Premium",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4235a58ca1c56c05",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "aux = msg.payload.ListaEESSPrecio;\n\nseries = [];\ndata = [];\n\nfor(var i in aux){\n    series.push(aux[i][\"Rótulo\"]);\n    a = aux[i][\"Precio Gasolina 95 E5\"]\n    var b = \"\";\n    for(let i = 0; i < a.length; i++){\n        if(a[i]==','){\n            b=b.concat('.');\n        }else{\n            b=b.concat(a[i]);\n        }\n    }\n    data.push([parseFloat(b)]);\n}\n\n//console.log(series)\n\nmsg.payload = [{\n\"series\": series,\n\"data\": data,\n\"labels\": [\"\"]\n}]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [
            [
                "b93619c581561fd0"
            ]
        ]
    },
    {
        "id": "c224b01fb0419086",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "aux = msg.payload.ListaEESSPrecio;\n\nseries = [];\ndata = [];\n\nfor(var i in aux){\n    series.push(aux[i][\"Rótulo\"]);\n    a = aux[i][\"Precio Gasolina 98 E5\"]\n    var b = \"\";\n    for(let i = 0; i < a.length; i++){\n        if(a[i]==','){\n            b=b.concat('.');\n        }else{\n            b=b.concat(a[i]);\n        }\n    }\n    data.push([parseFloat(b)]);\n}\n\n//console.log(series)\n\nmsg.payload = [{\n\"series\": series,\n\"data\": data,\n\"labels\": [\"\"]\n}]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 400,
        "wires": [
            [
                "c1cadeb82b615229"
            ]
        ]
    },
    {
        "id": "b93619c581561fd0",
        "type": "ui_chart",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "67a530d9402861a6",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Gasolina 95 E5",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1160,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c1cadeb82b615229",
        "type": "ui_chart",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "67a530d9402861a6",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Gasolina 98 E5",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3631991a78090284",
        "type": "ui_gauge",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "43ae38ea11cfb509",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Mejor precio Gasolina 95 E5",
        "label": "€/L",
        "format": "{{value}}",
        "min": "0",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "fea8492c3216335b",
        "type": "ui_gauge",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "43ae38ea11cfb509",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Mejor precio Gasolina 98 E5",
        "label": "€/L",
        "format": "{{value}}",
        "min": "0",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "d611ff2c406d8435",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "//a = msg.payload.included[0].attributes.values[0].value;\n\naux = msg.payload.ListaEESSPrecio;\nprices = [];\n\nfor(var j in aux){\n    \n    a = aux[j][\"Precio Gasoleo Premium\"];\n    \n    //Replace string with comma with float\n    var b = \"\";\n    \n    if(a != \"\"){\n        for(let i = 0; i < a.length; i++){\n            if(a[i]==','){\n                b=b.concat('.');\n            }else{\n                b=b.concat(a[i]);\n            }\n        }\n        \n        prices.push(parseFloat(b));\n    }\n}\n \n msg.payload = Math.min.apply(null,prices);\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            [
                "293b9ed7aa8e193c"
            ]
        ]
    },
    {
        "id": "fdfdd4a07837a41b",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "//a = msg.payload.included[0].attributes.values[0].value;\n\naux = msg.payload.ListaEESSPrecio;\nprices = [];\n\nfor(var j in aux){\n    \n    a = aux[j][\"Precio Gasolina 95 E5\"];\n    \n    //Replace string with comma with float\n    var b = \"\";\n    \n    if(a != \"\"){\n        for(let i = 0; i < a.length; i++){\n            if(a[i]==','){\n                b=b.concat('.');\n            }else{\n                b=b.concat(a[i]);\n            }\n        }\n        \n        prices.push(parseFloat(b));\n    }\n}\n \n msg.payload = Math.min.apply(null,prices);\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 520,
        "wires": [
            [
                "3631991a78090284"
            ]
        ]
    },
    {
        "id": "80fa656effdb73ad",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "//a = msg.payload.included[0].attributes.values[0].value;\n\naux = msg.payload.ListaEESSPrecio;\nprices = [];\n\nfor(var j in aux){\n    \n    a = aux[j][\"Precio Gasolina 98 E5\"];\n    \n    //Replace string with comma with float\n    var b = \"\";\n    \n    if(a != \"\"){\n        for(let i = 0; i < a.length; i++){\n            if(a[i]==','){\n                b=b.concat('.');\n            }else{\n                b=b.concat(a[i]);\n            }\n        }\n        \n        prices.push(parseFloat(b));\n    }\n}\n \n msg.payload = Math.min.apply(null,prices);\n    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 560,
        "wires": [
            [
                "fea8492c3216335b"
            ]
        ]
    },
    {
        "id": "954870b6b1c42424",
        "type": "debug",
        "z": "e712e033c794c2dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "174683d3aaeb6ef8",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "San Vicent del Rapeig",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "259",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "e729a125ebf4bf8e",
        "type": "change",
        "z": "e712e033c794c2dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "efbbc849453a7b1a"
            ]
        ]
    },
    {
        "id": "0f09c08b47943271",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Elche",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "203",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "b42fc39da496859b",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 3,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Alcoy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "147",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "ce04986977f44617",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 4,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Alicante",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "152",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "75d3f2a08a7bd7d8",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 5,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Benidorm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "168",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "56fad36a239826aa",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Orihuela",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "235",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "7e717ddf8c57b78b",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 7,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Denia",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "201",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "9680999f4543999e",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Altea",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "156",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "3e53895245895177",
        "type": "ui_button",
        "z": "e712e033c794c2dc",
        "name": "",
        "group": "f236670b8041eac8",
        "order": 8,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Elda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "204",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    },
    {
        "id": "c53fe4ea24c2504d",
        "type": "ui_text_input",
        "z": "e712e033c794c2dc",
        "name": "",
        "label": "Introducir municipio",
        "tooltip": "",
        "group": "f236670b8041eac8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "91e0308c2ded2e82"
            ]
        ]
    },
    {
        "id": "91e0308c2ded2e82",
        "type": "function",
        "z": "e712e033c794c2dc",
        "name": "",
        "func": "aux = [{\"IDMunicipio\":\"139\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Adsubia\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"140\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Agost\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"141\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Agres\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"142\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Aigües\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"143\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Albatera\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"144\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alcalalí\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"145\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alcocer de Planes\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"146\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alcoleja\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"147\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alcoy/Alcoi\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"148\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alfafara\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"149\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alfàs del Pi (l')\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"150\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Algorfa\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"151\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Algueña\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"152\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alicante/Alacant\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"153\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Almoradí\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"154\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Almudaina\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"155\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Alqueria d'Asnar (l')\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"156\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Altea\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"157\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Aspe\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"158\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Balones\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"159\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Banyeres de Mariola\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"160\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benasau\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"161\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Beneixama\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"162\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benejúzar\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"163\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benferri\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"164\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Beniarbeig\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"165\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Beniardá\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"166\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Beniarrés\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"167\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benidoleig\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"168\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benidorm\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"169\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benifallim\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"170\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benifato\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"171\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benigembla\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"172\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benijófar\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"173\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benilloba\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"174\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benillup\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"175\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benimantell\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"176\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benimarfull\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"177\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benimassot\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"178\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benimeli\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"179\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benissa\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"180\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Benitachell/Poble Nou de Benitatxell (el)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"181\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Biar\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"182\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Bigastro\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"183\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Bolulla\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"184\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Busot\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"185\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Callosa de Segura\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"186\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Callosa d'En Sarrià\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"187\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Calpe/Calp\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"188\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Campello (el)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"189\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Campo de Mirra/Camp de Mirra (el)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"190\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Cañada\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"191\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Castalla\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"192\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Castell de Castells\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"193\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Guadalest\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"194\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Catral\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"195\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Cocentaina\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"196\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Confrides\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"197\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Cox\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"198\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Crevillent\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"199\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Daya Nueva\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"200\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Daya Vieja\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"201\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Dénia\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"202\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Dolores\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"203\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Elche/Elx\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"204\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Elda\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"205\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Facheca\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"206\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Famorca\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"207\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Finestrat\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"208\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Hondón de las Nieves\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"209\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Formentera del Segura\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"210\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Gaianes\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"211\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Gata de Gorgos\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"212\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Gorga\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"213\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Granja de Rocamora\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"214\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Guardamar del Segura\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"215\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Hondón de los Frailes\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"216\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Ibi\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"217\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Jacarilla\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"218\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Jalón/Xaló\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"219\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Jávea/Xàbia\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"220\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Jijona/Xixona\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"221\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Llíber\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"222\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Lorcha/Orxa (l')\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"223\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Millena\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"224\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Monforte del Cid\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"225\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Monóvar/Monòver\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"226\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Montesinos (Los)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"227\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Murla\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"228\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Muro de Alcoy\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"229\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Mutxamel\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"230\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Novelda\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"231\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Nucia (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"232\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Ondara\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"233\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Onil\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"234\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Orba\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"235\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Orihuela\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"236\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Orxeta\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"237\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Parcent\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"238\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Pedreguer\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"239\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Pego\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"240\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Penàguila\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"241\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Petrer\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"242\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Pilar de la Horadada\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"243\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Pinoso\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"244\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Planes\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"245\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Poblets (els)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"246\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Polop\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"247\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Quatretondeta\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"248\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Rafal\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"249\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Ràfol d'Almúnia (El)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"250\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Redován\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"251\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Relleu\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"252\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Rojales\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"253\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Romana (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"254\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Sagra\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"255\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Salinas\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"256\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"San Fulgencio\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"257\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"San Isidro\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"258\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"San Miguel de Salinas\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"259\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"San Vicente del Raspeig/Sant Vicent del Raspeig\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"260\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Sanet y Negrals\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"261\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Sant Joan d'Alacant\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"262\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Santa Pola\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"263\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Sax\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"264\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Sella\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"265\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Senija\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"266\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Tàrbena\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"267\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Teulada\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"268\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Tibi\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"269\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Tollos\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"270\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Tormos\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"271\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Torremanzanas/Torre de les Maçanes (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"272\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Torrevieja\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"273\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Vall d'Alcalà (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"274\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Vall de Ebo\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"275\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Vall de Gallinera\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"276\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Vall de Laguar (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"277\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Verger (el)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"278\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Villajoyosa/Vila Joiosa (la)\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"},{\"IDMunicipio\":\"279\",\"IDProvincia\":\"03\",\"IDCCAA\":\"10\",\"Municipio\":\"Villena\",\"Provincia\":\"ALICANTE\",\"CCAA\":\"Comunidad Valenciana\"}];\n\nfor(var i in aux){\n    if(aux[i][\"Municipio\"] == msg.payload){\n        msg.payload = aux[i][\"IDMunicipio\"];\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "e729a125ebf4bf8e"
            ]
        ]
    }
]